ip routing

default router bgp
router bgp {{ asn }}
{% for session in accepted_requests.sessions %}
{% set peer_asn = session.sender.isp.asn if asn == session.receiver.asn else session.receiver.asn %}
neighbor {{ peers.peering_info['{}'.format(peer_asn)].ipaddr4 }} remote-as {{ peer_asn }}
address-family ipv4
neighbor {{ peers.peering_info['{}'.format(peer_asn)].ipaddr4 }} activate
{% endfor %}
