{% load staticfiles %}
<!doctype html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">


    <link href="{% static 'css/main.css' %}" rel="stylesheet" />

    <!-- Include the AngularJS library -->
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>

<body ng-app="PinderApp" style="background-color:#dee3e3">
    {% block body %}{% endblock body %}

<!-- Modules -->
<script src="{% static 'js/app.js' %}"></script>

<!-- Controllers -->
<script src="{% static 'js/controllers/MainController.js' %}"></script>
    <script src="{% static 'js/controllers/PinderController.js' %}"></script>

<!-- Services -->
<script src="{% static 'js/services/peeringDB.js' %}"></script>
<script src="{% static 'js/services/pinder.js' %}"></script>


<script src="{% static 'pinder/example.js' %}"></script>
</body>
